.box-score {
    width: 136px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.clickable-row {
    cursor: pointer; 
  }
  
  .clickable-row:hover td{
    background-color: #e6f4ff !important; 
  }