.customProgressBar {
  .ant-progress-inner {
    height: 36px !important;
    border-radius: 8px;
    background-color: #f0f2f5; // светлый фон под баром
  }

  .ant-progress-bg {
    height: 36px !important;
    border-radius: 8px;
    transition: width 0.3s ease;
  }

  .ant-progress-text {
    font-size: 18px;
    font-weight: 600;
    color: #000000d9; // чуть темнее стандартного
  }
}

.clickable-row {
  cursor: pointer;

  &:hover td {
    background-color: #f0faff !important;
    transition: background-color 0.3s ease;
  }
}
