.searchWrapper {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
}

.searchInput {
  width: 100%;
  border-radius: 6px;
}

.clearIcon {
  color: #999;
  cursor: pointer;

  &:hover {
    color: #333;
  }
}
