body{
    margin: 0;
    background-image: Url('https://img.freepik.com/free-photo/3d-rendering-of-pen-ai-generated_23-2150695385.jpg?size=626&ext=jpg&ga=GA1.1.1775161176.1724325586&semt=ais_hybrid') !important;
    background-repeat: no-repeat;
    background-size: cover;
}

